@header-panel__background-color: color("#ff6600");
@copyright__background-color:  color("#ff6600");

.logo {
    float: left;
    margin: auto;
    max-width: 50%;
    position: relative;
    z-index: 5
}